.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 121px 0 107px;
  margin: 0;

  @media (max-width: 767px) {
    padding-top: 90px;
  }

  &__text {
    @include text-width;
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: center;
    line-height: 1.47;
    margin: 25px 0 122px;
  }

  &__features {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 145px;
    grid-auto-columns: 1fr;
    margin: 0;
    padding: 0;

    @media (max-width: 1209px) {
      grid-column-gap: 15px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr 1fr 1fr;
      grid-row-gap: 50px;
      grid-column-gap: 15px;
      grid-auto-flow: dense;
    }

    @media (max-width: 474px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr 1fr 1fr;
      grid-row-gap: 50px;
      grid-auto-flow: row;
    }
  }

  &__features-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__features-item-logo {
    width: 62px;
    height: 62px;

    @media (max-width: 767px) {
      height: 52px;
      width: 52px;
    }
  }

  &__features-item-heading {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    margin: 35px 0 0;
    color: #212121;

    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }

  &__features-item-text {
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: 1.47;
    text-align: center;
    color: #212121;
    margin-top: 17px;
    max-width: 350px;

    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }
}
