.contacts {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 122px 0 110px;

  @media (max-width: 1209px) {
    padding: 70px 0;
  }

  &__image {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
  }

  &__text {
    @include text-width;
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.75px;
    text-align: center;
    color: #ffffff;
    margin: 24px 0 0;
  }

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    margin: 100px 0 0;
    width: 72vw;

    @media (max-width: 1209px) {
      max-width: calc(100vw - 30px);
      width: 100%;
      grid-column-gap: 40px;
    }

    @media (max-width: 767px) {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-row-gap: 60px;
      margin-top: 50px;
    }
  }

  &__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-logo-background {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #3949ab;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-contact-methods {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    max-width: 250px;
    margin-top: 33px;

    @media (max-width: 1209px) {
      margin-top: 20px;
      font-size: 16px;
    }

    &:nth-child(3) {
      margin-top: 0;
    }
  }

  &__email-form {
    display: grid;
    grid-template-columns: 36vw 36vw;
    grid-template-rows: 85px;
    grid-column-gap: 30px;
    margin-top: 76px;

    @media (max-width: 1209px) {
      width: 100%;
      grid-column-gap: 15px;
      margin-top: 35px;
      max-width: calc(100vw - 30px);
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 767px) {
      grid-template-rows: 85px 85px;
      grid-row-gap: 15px;
      width: 100%;
      margin-top: 35px;
      max-width: calc(100vw - 30px);
      grid-template-columns: 1fr;
    }
  }

  &__email-form-item {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: left;
    color: #4d4d4d;
    padding: 35px 21px;
    box-sizing: border-box;

    @media (max-width: 767px) {
      font-size: 15px;
    }

    &::placeholder {
      font-family: $OpenSans;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: left;
      color: #4d4d4d;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media (max-width: 1209px) {
      width: 100%;
      margin-top: 15px;
      max-width: calc(100vw - 30px);
    }
  }

  &__comment-form-item {
    width: calc(72vw + 30px);
    height: 325px;
    padding: 26px 20px;
    box-sizing: border-box;
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #212121;
    resize: none;

    @media (max-width: 1209px) {
      width: 100%;
      font-size: 15px;
    }

    &::placeholder {
      font-family: $OpenSans;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1px;
      text-align: left;
      color: #4d4d4d;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__comment-form-button {
    align-self: flex-end;
    width: 220px;
    height: 70px;
    padding: 15px;
    font-family: $Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #212121;
    background-color: #ffffff;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: #3949ab;
      color: #ffffff;
    }

    @media (max-width: 1209px) {
      height: 60px;
      width: 200px;
      margin-top: 20px;
    }

    @media (max-width: 767px) {
      align-self: center;
    }
  }
}
