.header {
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 100;

  &--is-active {
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }

  &__wrapper {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-family: $OpenSans;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.header-navigation {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 30px;

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $OpenSans;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;

    &:active,
    &:focus {
      outline: none;
    }

    &--is-search {
      width: 19px;
      height: 19px;
    }
  }

  &__search-logo {
    width: 100%;
    height: 100%;
  }
}
