.header {
  transition: 0.3s ease-in-out all;
  @media (max-width: 859px) {
    display: none;
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 90vw;
    display: flex;
    align-items: center;
    height: 54px;
    box-sizing: border-box;

    @media (max-width: 1083px) {
      max-width: 100%;
      padding: 0 24px;
    }
  }

  &__underline {
    position: relative;
    transition: 0.3s ease-in-out;
    outline: none;

    &::after {
      position: absolute;
      bottom: -3px;
      width: 0;
      left: 0;
      height: 2px;
      content: "";
      background-color: #000;
      transition: 0.3s ease-in-out;
    }

    &::before {
      transition: 0.3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        width: 100%;
      }
    }

    &:focus,
    &:active {
      &::before {
        position: absolute;
        height: 43px;
        width: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px dashed #000;
      }
    }
  }

  &__navigation-item-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      width: 6px;
      height: 1px;
      background-color: #b1b2b2;
      content: "";
      top: 5px;
    }

    &::after {
      transform: rotate(45deg);
      left: 0;
    }

    &::before {
      transform: rotate(-45deg);
      left: 4px;
    }

    @media (max-width: 859px) {
      width: 15px;
      height: 15px;
      margin-left: 9px;

      &::after,
      &::before {
        width: 8px;
        top: 10px;
      }

      &::after {
        left: 1px;
      }

      &::before {
        left: 6px;
      }
    }
  }

  &__left {
    display: flex;
    flex-shrink: 0;
  }

  &__left-home-link {
    position: relative;
    margin-right: 28px;
    transition: 0.3s ease-in-out;
    outline: none;
    margin-left: 10px;

    &::after {
      position: absolute;
      content: "";
      background-color: #000;
      height: 100%;
      width: 2px;
      right: -28px;
      top: 0;
    }

    &:focus,
    &:active {
      &::before {
        position: absolute;
        height: 43px;
        width: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px dashed #000;
      }
    }
  }

  &__left-home-link-logo {
    width: 108px;
  }

  &__left-product-link {
    text-decoration: none;
    color: #262626;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 3px 9px 0 18px;
    outline: none;
    position: relative;

    &:focus,
    &:active {
      span {
        &::after {
          width: 100%;
        }
      }

      &::before {
        position: absolute;
        height: 43px;
        width: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px dashed #000;
      }
    }
  }

  &__left-navigation {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
    display: flex;

    @media (max-width: 1180px) {
      max-width: 35vw;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__left-navigation-item {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 13px;
    flex-shrink: 0;
    text-decoration: none;
    color: #262626;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-right: 20px;

    span {
      font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
      font-size: 13px;
      flex-shrink: 0;
      position: relative;
      transition: 0.3s ease-in-out;
      outline: none;

      &::after {
        position: absolute;
        bottom: -3px;
        width: 0;
        left: 0;
        height: 2px;
        content: "";
        background-color: #000;
        transition: 0.3s ease-in-out;
      }

      &::before {
        transition: 0.3s ease-in-out;
      }

      &:hover,
      &:focus,
      &:active {
        &::after {
          width: 100%;
        }
      }

      &:focus,
      &:active {
        &::before {
          position: absolute;
          height: 24px;
          width: calc(100% + 30px);
          top: 50%;
          left: 50%;
          transform: translate(-44%, -50%);
          content: "";
          border: 1px dashed #000;
        }
      }
    }
  }

  &__left-navigation-item-support {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #262626;
    position: relative;
    outline: none;

    &:focus,
    &:active {
      &::before {
        position: absolute;
        top: -5px;
        left: 0px;
        right: 0px;
        bottom: -5px;
        content: "";
        border: 1px dashed #000;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__right-navigation {
    display: flex;
    list-style-type: none;
    padding: 0 4px 0 0;
    margin: 0;
    justify-self: flex-end;
    flex-shrink: 0;
  }

  &__right-navigation-item {
    position: relative;
    margin-right: 23px;
    position: relative;
    outline: none;

    &:focus,
    &:active {
      span {
        &::after {
          width: 100%;
        }
      }
      &::before {
        position: absolute;
        height: 43px;
        width: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px dashed #000;
      }
    }

    &--is-search {
      span {
        margin-right: 8px;
      }
    }

    &--is-cart {
      span {
        margin-right: 5px;
      }
      @media (max-width: 1399px) {
        span {
          margin-right: 6px;
        }
      }
    }

    &--is-login {
      span {
        margin-right: 8px;
      }
      @media (max-width: 1399px) {
        span {
          margin-right: 0;
        }
      }
    }

    &:nth-child(2) {
      span {
        margin-left: 6px;
      }
    }

    &:nth-child(3) {
      span {
        margin-left: 3px;
      }
    }

    &:nth-child(4) {
      margin-right: 0;
    }

    span {
      display: none;

      @media (min-width: 1399px) {
        display: block;
      }
    }

    &:nth-child(1) {
      span {
        display: block;
      }
    }

    @media (max-width: 1399px) {
      margin-right: 15px;
      &:nth-child(1) {
        margin-right: 50px;
      }
    }
  }

  &__right-navigation-item-logo {
    &--is-search {
      width: 13px;
    }

    &--is-cart {
      width: 16px;
      margin-bottom: 3px;
    }

    &--is-login {
      width: 40px;
    }
  }
}
