@import "~normalize.css";
@import "/src/scss/fonts";

@import "/src/scss/footer";
@import "/src/scss/header";
@import "/src/scss/home";

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
