@import "~normalize.css";
@import "/src/scss/fonts";
@import "/src/scss/mixin";

@import "/src/scss/footer";
@import "/src/scss/header";
@import "/src/scss/home";
@import "/src/scss/about-us";
@import "/src/scss/our-services";
@import "/src/scss/latest-works";

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
