@import "~normalize.css";
@import "/src/scss/fonts";
@import "/src/scss/mixin";
@import "/src/scss/variables";

@import "/src/scss/footer";
@import "/src/scss/header";
@import "/src/scss/home";
@import "/src/scss/about-us";
@import "/src/scss/our-services";
@import "/src/scss/latest-works";
@import "/src/scss/price";
@import "/src/scss/members";
@import "/src/scss/blog";
@import "/src/scss/contacts";
@import "/src/scss/mobile-header";

html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (min-width: #{1210px + $wrapper-padding * 2}) {
    --wrapper-width: #{$wrapper-width-wide};
  }
}

.modal--is-opened {
  overflow: hidden;
}

@media (max-width: 1209px) {
  body {
    padding-top: 70px;
  }
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: #{1210px + $wrapper-padding * 2}) and (max-width: #{$wrapper-width-wide + $wrapper-padding * 2}) {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    max-width: 100%;
  }

  @media (max-width: 1209px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: var(--wrapper-width);
  }
}

.simpleParallax {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100vw;
  min-height: calc(var(--height-point) * 100 - 120px);

  @media (max-width: 1209px) {
    min-height: calc(var(--height-point) * 100 - 70px);
  }
}

.site-heading {
  font-family: $OpenSans;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  color: #212121;

  &--is-white {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    font-size: 25px;
  }
}
