.mobile-header {
  transition: 0.3s ease-in-out all;
  @media (min-width: 860px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    padding: 0 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 55px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-right: 2px;
  }

  &__navigation-item {
    background-color: transparent;
    border: none;
    padding: 0;

    &--is-search {
      margin: 3px 0 0 32px;

      img {
        width: 13px;
      }
    }

    &--is-cart {
      margin-top: 4px;
      img {
        width: 17px;
      }
    }

    &--is-login {
      margin-left: 30px;
      margin-top: 2px;
      img {
        width: 40px;
      }
    }
  }

  &__navigation-item-image {
    width: 10px;
  }

  &__navigation-burger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__navigation-burger-item {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin-bottom: 3px;

    &:nth-child(3) {
      margin: 0;
    }
  }

  &__logo {
    width: 108px;
    margin: 0 0 6px 10px;
  }

  &__product-navigation {
    padding: 0 15px;
    height: 33px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }

  &__product-navigation-button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #262626;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px;
    letter-spacing: 0.11px;
  }
}
